/* Цвет основного текста #757575 */
/* Вторичный цвет #212121 */
/* Белый #FFFFFF */
/* Акцент #2196F3 */
/* Цвет футер rgba(255, 255, 255, 0.6) */
/* Цвет футер 2020 rgba(255, 255, 255, 0.4) */
/* Вторичный цвет фона #F5F4FA */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --white-color: #ffffff;
  --accent-color: #2196f3;
}

.list {
  list-style: none;
}

body {
  background-color: var(--white-color);
  color: var(--primary-text-color);
}
.logo {
  color: var(--title-text-color);
}

/* Site-nav */
.site-nav .link {
  color: var(--title-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}

/* Auth-nav */
.auth-nav .link {
  color: var(--primary-text-color);
}
.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--accent-color);
}

/* Hero */
.hero-title {
  color: var(--white-color);
}
.button {
  background-color: var(--accent-color);
  color: var(--white-color);
}

/* Section */
.section-title {
  color: var(--title-text-color);
}

/* Feature */
.feature-list .title {
  color: var(--title-text-color);
}

/* Specialization */
.specialization-list .link {
  color: var(--white-color);
}
.specialization-list .link:hover,
.specialization-list .link:focus {
  color: var(--accent-color);
}

/* Team */
.team-list .title {
  color: var(--title-text-color);
}

/* footer-adress */
footer {
  background-color: #2f303a;
}
.adress-list .logo {
  color: #ffffff;
}
.adress-list .title {
  color: rgba(255, 255, 255, 0.6);
}
.adress-list .link {
  color: rgba(255, 255, 255, 0.6);
}
.adress-list .link:hover,
.adress-list .link:focus {
  color: var(--accent-color);
}
/* footer-text */
.footer-icon {
  color: var(--white-color);
}
/* footer-date */
.footer-date {
  color: rgba(255, 255, 255, 0.4);
}

/* Портфолио */
